@import "./colors";

@mixin button {
  border-color: $primaryColor !important;
  background: transparent !important;
  color: $textColor !important;
}
@mixin fonts {
  font-family: "Poppins", sans-serif;
}
@mixin paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #000;
}
@mixin heading($size: 24px, $width: 400) {
  font-family: "Josefin Sans", sans-serif;
  font-size: $size;
  font-weight: $width;
}

@mixin button {
  background: $primaryColor;
  color: $secondaryColor;
  border: 1px solid $primaryColor;
  @include fonts;
  transition: all linear 0.3s;

  &:hover {
    background: transparent;
    color: $primaryColor;
  }
}
