@import "./colors";
@import "./mixins";

.login {
  width: 500px;
  margin: 0 auto;
  padding: 30px 50px;

  h5 {
    @include heading(32px, 700);
    color: $primaryColor;
  }

  a {
    color: $primaryColor;
    @include paragraph;
  }

  input {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid $primaryColor;
    padding: 5px;
    font-size: 18px;
    border-radius: 2px;
    @include fonts;

    &:focus-visible {
      outline: none;
    }
  }
}
.submit {
  @include button;
  padding: 5px 15px;
  font-size: 18px;
  @include fonts;
  font-weight: 600;
}
